<div class="container">
    <h1>Adicionar Novo Produto</h1>
    <form method="POST" action="/fornecedores">
        <label for="nome">Nome do Fornecedor:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome do fornecedor" required><br><br>
        <label for="descricao">Descrição:</label>
        <textarea name="descricao" required id="descricao" placeholder="Insira a descrição"></textarea><br><br>
        <input type="submit" value="Adicionar">
    </form>
    <a href="/fornecedores">Voltar para a Lista</a>
</div>